@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}
@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-VariableFont_wght.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full scroll-smooth bg-white text-slate-500 antialiased dark:bg-slate-900 dark:text-slate-400;
	font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

/* Custom daisyUI components */
@layer components {
	.navbar {
		@apply mx-auto max-w-8xl px-4 py-6 sm:px-6 lg:px-8;
	}

	.tailwindInput {
		@apply block w-full rounded-md border-0 bg-slate-800 px-3 py-2 text-slate-200 shadow-sm outline-none ring-1 ring-inset ring-slate-600 placeholder:text-slate-400 focus:ring-2 focus:ring-inset focus:ring-indigo-700 sm:text-sm sm:leading-6;
	}

	.inputError {
		@apply mt-2 block text-sm font-medium leading-6 text-red-500;
	}
}
